* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 25px;
  color: #222;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-wrap {
  display: flex;
  justify-content: center;
}

.info-wrap  {
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: 700;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #87D37C;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

form:first-child {
  margin-right: 20px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px 6px;
}